<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.info498.bestgroup.tindar" >

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

        </activity>

        <receiver
            android:name=".Flash"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <activity
            android:name=".Home"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".Vibrate"
            android:label="@string/title_activity_vibrate" >
        </activity>
        <activity
            android:name=".Connected"
            android:label="@string/title_activity_connected" >
        </activity>
        <activity
            android:name=".ConnectActivity"
            android:label="@string/title_activity_connected" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Doodling"
            android:label="@string/title_activity_doodling" >
        </activity>
    </application>

</manifest>
